
<h1>Hallo2</h1>

<label>Title: <input [(ngModel)]="todoTitle" /></label>
<label>Description: <input [(ngModel)]="todoDescription" /></label>
<br >
<label>Start Datum: <input [(ngModel)]="todoStartDate" type="date" /></label>
<label>Start Zeit: <input [(ngModel)]="todoStartTime" type="time" /></label>

<label>End Datum: <input [(ngModel)]="todoEndDate" type="date" /></label>
<label>End Zeit: <input [(ngModel)]="todoEndTime" type="time" /></label>

<button (click)="newTodo()">Add</button>

<ul *ngIf="todos" class="todos">
  <li *ngFor="let todo of todos">
    <h3>{{todo.title}}</h3>
    <p>{{todo.description}}</p>
    <p>{{todo.startTime | date:'medium'}}</p>
    <p>{{todo.endTime | date:'medium'}}</p>
    <button (click)="deleteTodo(todo.id)">Delete</button>
  </li>
</ul>