@{
}


    <div class='container-fluid'>
        <div class='row'>
            <div class='col-sm-12 body-content'>
                <h2>Sign out</h2>
                <a href="/auth/logout">Logout</a>
            </div>
        </div>
    </div>